<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous">
    <title>Cashier</title>
    <script type="text/javascript" th:src="@{/tailwind.js}"></script>
    <!--Regular Datatables CSS-->
    <link
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
      rel="stylesheet">
    <!--Responsive Extension Datatables CSS-->
    <link
      href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"
      rel="stylesheet">

    <script type="text/css" th:src="@{/css/cashier_homepage.css}"></script>

  </head>
  <!-- bg-[#F3F4F6] -->
  <!-- bg-[url('https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=900&t=st=1684214646~exp=1684215246~hmac=0ef2be88b11094793dad999a173b5286490463f0d1167bec48748e0b75df3436')] -->
  <body class=" flex h-screen backdrop-blur-md bg-[url('https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=900&t=st=1684214646~exp=1684215246~hmac=0ef2be88b11094793dad999a173b5286490463f0d1167bec48748e0b75df3436')]">
    <div th:replace="/fragments/topnav :: navbar"></div>
    <!-- component -->

    <!-- start cashier homepage -->
    <div th:replace="/fragments/cashierHomepage :: cashier_homepage"></div>
    <!-- end cashier homepage -->

    <!-- test popup id="popup" -->
    <div id="popup" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <!-- card add cashier -->
            <div class="bg-white px-12 sm:p-6 sm:pb-4 rounded-[25px]">

              <div class="flex justify-end w-full">
                <button onclick="closePopup()">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-12 h-12 text-red-600">
                    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>                  
                </button>
              </div>
              
              <form th:action="@{/admin/cashier/new}" th:object="${employee}" method="POST"
                enctype="multipart/form-data"
                class="w-[460px] mx-auto mb-10 px-12 ">
                <h1 class="text-[2rem] text-center mb-4 mt-4 tracking-wider">New Cashier</h1>
                <p class="text-center my-4">Please spend a bit time to input the information.</p>
                <!-- name -->
                <div class="mt-2">
                  <div class="text-left">Full Name</div>
                  <input type="text" name="name" th:field = "*{name}" required placeholder="Chhorn Kakada"
                    class="w-full pl-3 border-2 rounded-lg py-1 shadow-sm my-1">
                </div>
                <!-- Username -->
                <div class="mt-2">
                  <div class="text-left">Username</div>
                  <input type="text" name="username" th:field = "*{username}" required placeholder="Sacda"
                    class="w-full pl-3 border-2 rounded-lg py-1 shadow-sm my-1">
                </div>
                <div class="flex gap-[4%] mt-2">
                  <!-- borthday -->
                  <div class="w-[68%]">
                    <div class="text-left">Birth Date</div>
                    <input type="date"  name="dob" th:field = "*{dob}"
                      value="2018-07-22" min="1888-01-01" max="2030-12-31"
                      class="w-full pl-3 border-2 rounded-lg py-1 shadow-sm my-1">
                  </div>
                  <!-- Sex -->
                  <div class="w-[28%]">
                    <div class="text-left">Sex</div>
                    <select name="sex" class="w-full pl-1 border-2 rounded-lg shadow-sm py-1 my-1 mx-auto"
                      th:field = "*{sex}"
                    >
                      <option value="F">Female</option>
                      <option value="M">Male</option>
                    </select>
                  </div>
                </div>
                
                <!-- Username -->
                <div class="mt-2">
                  <div class="text-left">Password</div>
                  <input type="password" name="username" required placeholder="**********"
                    th:field = "*{password}"
                    class="w-full pl-3 border-2 rounded-lg py-1 shadow-sm my-1">
                </div>
                <!-- image -->
                <div class="mt-2">
                  <div class="text-left">Image</div>
                  <input class="block rounded-lg my-1 cursor-pointer bg-white" name="file" type="file">
                </div>
                <!-- btn -->
                <button type="submit" class="bg-[#1D1B31] text-white w-full rounded-lg h-[52px] my-6 text-[1.2rem] font-bold">Create</button>
      
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
      <script>
        function openPopup(){
          document.getElementById("popup").style.display='block'
        }
        function closePopup(){
          document.getElementById("popup").style.display='none'
        }
      </script>
      
      <script th:inline="javascript">
        function changePath(newPath) {
            window.location.href = newPath;
        }
      </script>
  </body>
</html>