<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h2>Hello I am Cashier</h2>
    <div sec:authorize="isAuthenticated()">
      <p>Logged in as: <span sec:authentication="principal.username">
      </span></p>
      <!-- <input th:value="${#authentication.name}"> -->
    </div>
    <!-- <p>Your username is : <span sec:authentication="principal.getUsername()"></span> </p> -->
    <form th:action="@{/logout}" method="POST">
      <input type="submit" value="Logout" />
    </form>
  </div>
</body>
</html>