<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
    crossorigin="anonymous">
  <title>Order</title>
  <script type="text/javascript" th:src="@{/tailwind.js}"></script>
  <!--Regular Datatables CSS-->
  <link
    href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
    rel="stylesheet">
  <!--Responsive Extension Datatables CSS-->
  <link
    href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"
    rel="stylesheet">

    <style>
      ::-webkit-scrollbar {
        width: 5px;
        background-color: #F1F5F8;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #676E95;
        border-radius: 8px;
      } 
    </style>

  <script type="text/css" th:src="@{/css/cashier_homepage.css}"></script>

</head>
<body class=" flex h-screen backdrop-blur-md bg-[url('https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=900&t=st=1684214646~exp=1684215246~hmac=0ef2be88b11094793dad999a173b5286490463f0d1167bec48748e0b75df3436')]">
  <div th:replace="/fragments/topnavCashier :: navbar-cashier"></div>

  <!-- start cashier order homepage -->
  <div th:replace="/fragments/cashierOrderHomepage :: cashier_order_homepage"></div>
  <!-- end cashier order homepage -->

<!-- pop up order detail -->
  <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          
          <!-- card -->
          <div class="bg-white px-12 sm:p-6 sm:pb-4 rounded-[25px]">

            <div class="flex justify-end w-full">
            
              <button th:onclick="changePath('/cashier/order/new')" >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-12 h-12 text-red-600">
                  <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
                </svg>                  
              </button>
              
            </div>
            
            <form th:action="@{/cashier/order/new}" method="POST" th:object="${drink}" 
              enctype="multipart/form-data"
              class="w-[460px] mx-auto mb-10 px-12 ">
              <div th:object="${invoice}"></div>
              <h1 class="text-[2rem] text-center mb-4 mt-4 tracking-wider" >Add Drink to Order</h1>
              <p class="text-center my-4">Please spend a bit time to input the information.</p>
              <!-- name -->
              <div class="mt-3">
                <div class="text-left">Drink Name</div>
                <input th:field="${drink.name}" th:text="${drink.name}"
                  class="w-full pl-2 border-2 rounded-lg py-1 shadow-sm my-1">
              </div>
              <!-- category and size -->
              <div class="mt-3 flex justify-between w-full gap-2">
                <div class="w-1/3">
                  <div class="text-left">Category</div>
                  <select name="ctg" class="w-full pl-2 border-2 rounded-lg shadow-sm py-1 my-1">
                    <option value="Hot">Hot</option>
                    <option value="Iced">Iced</option>
                    <option value="Frappe">Frappes</option>
                  </select>
                </div>

                <div class="w-1/3">
                  <div class="text-left">Size</div>
                  <select name="size" class=" w-full pl-2 border-2 rounded-lg shadow-sm py-1 my-1">
                    <option value="Small">S</option>
                    <option value="Medium">M</option>
                    <option value="Large">L</option>
                  </select>
                </div>
                <!-- qty -->
                <div class="w-1/3">
                  <div class="text-left">Quantities</div>
                  <input type="number" name="qty" value="1"
                        class="pl-2 border-2 w-full rounded-lg py-1 shadow-sm my-1">
                </div>
              </div>

              <!-- category and size -->
              <div class="mt-3 flex justify-between w-full gap-2">
                <div class="w-1/2">
                  <div class="text-left">Topping 1</div>
                  <select name="topping1" class="w-full pl-2 border-2 rounded-lg shadow-sm py-1 my-1">
                    <option value="null ">Null </option>
                    <option value="Marshmallow ">Marshmallow </option>
                    <option value="Creamer">Creamer</option>
                    <option value="Cherries">Cherries</option>
                    <option value="Caramel drizzle">Caramel drizzle</option>
                    <option value="Jelly">Jelly</option>
                    <option value="popping pearls">Cherries</option>
                  </select>
                </div>

                <div class="w-1/2">
                  <div class="text-left">Topping 2</div>
                  <select name="topping2" class=" w-full pl-2 border-2 rounded-lg shadow-sm py-1 my-1">
                    <option value="null ">Null </option>
                    <option value="Marshmallow ">Marshmallow </option>
                    <option value="Creamer">Creamer</option>
                    <option value="Cherries">Cherries</option>
                    <option value="Caramel drizzle">Caramel drizzle</option>
                    <option value="Jelly">Jelly</option>
                    <option value="popping pearls">Cherries</option>
                  </select>
                </div>
              </div>
              
              <!-- note -->
              <div class="mt-3">
                <div class="text-left">Note</div>
                <input type="text" name="note"  required placeholder="Sweeet 50%"
                  class="w-full pl-2 border-2 rounded-lg py-1 shadow-sm my-1">
              </div>
              
              <!-- btn -->
              <button type="submit" class="bg-[#1D1B31] text-white w-full rounded-lg h-[52px] my-6 text-[1.2rem] font-bold">Add to Order</button>
    
            </form>
          </div>
          <!-- end card -->
          
        </div>
      </div>
    </div>
  </div>

  <script th:inline="javascript">
    const foodDiv = document.getElementById('food-section').hidden = true;
    function changePath(newPath) {
        window.location.href = newPath;
    }
  </script>


</body>
</html>