<div th:fragment="navbar-cashier">
  <!-- bg-[#11111D] -->
  <nav class="w-56 h-full bg-[url('https://cutewallpaper.org/21/coffee-hd-wallpaper/Coffee-Wallpaper-Espresso-Coffee,-Hd-Wallpapers-.jpg')] text-slate-200 rounded-r-3xl flex-row my-auto tracking-wider"> 
    <div class="h-[80%]">
      <div>
        <h1 class="text-center text-[2rem] py-10">GIC Cafe</h1>
      </div>
      <div>
        <a class="flex w-[90%] mx-auto hover:rounded-lg pl-6 gap-4 py-3
          focus:bg-white focus:text-black hover:bg-white hover:text-black hover:shadow-lg
          hover:no-underline"
          href="/admin/cashier">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
          </svg>        
          <span>Table</span>
        </a>
  
        <a class="flex w-[90%] mx-auto hover:rounded-lg pl-6 gap-4 py-3
          focus:bg-white focus:text-black hover:bg-white hover:text-black
          hover:no-underline"
          href="/admin/drink">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="currentColor" class="w-6 h-6">
            <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875
              1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839
              21.66 3 20.625 3H3.375z" />
            <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62
              21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.163
              3.75A.75.75 0 0110 12h4a.75.75 0 010 1.5h-4a.75.75 0
              01-.75-.75z" clip-rule="evenodd" />
            </svg>
            <span>Order</span>
        </a>
        
      </div>
    </div>
    <div class="flex justify-center items-end h-[20%] text-center bg-[#1D1B31] rounded-r-3xl">
      <div class="text-center">
        <p>Admin</p>
        <div class="flex gap-1 items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
          </svg>
          <p class="text-[1.2rem]"><span sec:authentication="principal.username"></span></p>
        </div>
        <form th:action="@{/logout}" method="POST" class="flex gap-2 border-2 px-4 rounded-lg py-2 my-6 bg-slate-200">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-[#1D1B31]">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-4.28 9.22a.75.75 0 000 1.06l3 3a.75.75 0 101.06-1.06l-1.72-1.72h5.69a.75.75 0 000-1.5h-5.69l1.72-1.72a.75.75 0 00-1.06-1.06l-3 3z" clip-rule="evenodd" />
          </svg>          
          <input type="submit" value="Logout" / class="text-[#1D1B31]">
        </form>
      </div>
    </div>

  </nav>
</div>
